* {
  background-color: powderblue;
}

.board {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  width: 350px;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
}

.square1 {
  border-radius: 10%;
  padding: 0px;
  width: 65px;
  aspect-ratio: 2/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
}

.square2 {
  border-radius: 10%;
  width: 65px;
  aspect-ratio: 2/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
}

.square3 {
  border-radius: 10%;
  width: 65px;
  aspect-ratio: 2/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
}

.square4 {
  border-radius: 10%;
  width: 65px;
  aspect-ratio: 2/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
}

.square5 {
  border-radius: 10%;
  width: 65px;
  aspect-ratio: 2/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
}

.square6 {
  border-radius: 10%;
  width: 65px;
  aspect-ratio: 2/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
}

button {
  background-color: aliceblue;
}
input {
  margin: 20px;
  border-radius: 5%;
  background-color: bisque;
}

h1,
h2 {
  text-align: center;
}
